[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/contracts"]
	path = lib/contracts
	url = https://github.com/cowprotocol/contracts
